<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Versi Go -->
    <link rel="stylesheet" href="static/register/style.css">

    <!-- Versi CSS -->
    <!-- <link rel="stylesheet" href="../../assets/register/style.css"> -->
    <title>Register</title>
</head>
<body>
    <div class="container">
        <h2>Daftar dibawah ini coy</h2>
        <form method="POST">
            <label for="username">Username</label>
            <input id="username" type="text" required name="username">
            <label for="password">Password</label>
            <input id="password" type="password" required name="password">
            <button type="submit" value="submit" >Register</button>
        </form>
    </div>
</body>
</html>