<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- VERSI GO -->
    <link rel="stylesheet" href="static/dashboard/style.css">
    <!-- native -->
    <!-- <link rel="stylesheet" href="../../assets/dashboard/style.css"> -->

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="teleport">
        <a href="#todo" class="tel-tex">To-Do-List</a>
        <a href="#resolusi" class="tel-tex">Resolusi 2024</a>
        <a href="#" class="tel-tex">Catatan</a>
        <a href="/logout" class="tel-tex" onclick="return confirm('yakin dek?')">Logout</a>
    </nav>
    <div class="hello">
        <h1>Selamat Datang {{ .nama }} </h1>
    </div>
    <h1 class="punchline" id="todo">To Do List</h1>
    <div class="todo-list">
        <div class="todo1">
            <h3>Him To-Do-List</h3>
            <p>Kura-kura apa yang di-</p>
            <div class="tombol">
                <a href="#">See</a>
            </div>
        </div>
        <div class="todo2">
            <h3>Her To-Do-List</h3>
            <p>Kucing kucing apa yang di-</p>
            <div class="tombol">
                <a href="#">See</a>
            </div>
        </div>
    </div>

    <!-- Melayang -->
<div class="melayang1">
    <div class="melayang-dalem1">
        <h1>Him To-Do-List</h1>
        <form method="POST" class="isi">
            <label for="todo" class="plus1">
                +
            </label>
            <input name="todo1" placeholder="Isi WOI" type="text" id="todo" class="hidden-input1">
            <button type="submit" value="todo" class="kirim1">Send</button>
        </form>
        {{ range .todos}}
            <p> {{ .Todoco }} <span style="margin: 0 5px;">| {{ .CreatedAt }} </span>
                <a href="dashboard/delete?id={{ .Id }}" onclick="return alert('yakin mau hapus?')" style="text-decoration: none; margin: 4px 5px;">
                    <svg style="color: white;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"> <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" fill="red"></path> <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" fill="red"></path> </svg>
                </a></p>
        {{ end }}
        <div class="close1">
            X
        </div>
    </div>
</div>

<div class="melayang2">
    <div class="melayang-dalem2">
        <h1>Her To-Do-List</h1>
        <form method="POST" class="isi">
            <label for="todo" class="plus2">
                +
            </label>
            <input name="todo2" placeholder="Isi WOI" type="text" id="todo" class="hidden-input2">
            <button type="submit" value="todo" class="kirim2">Send</button>
        </form>
        {{ range .todos }}
            <p> {{ .Todoce }} <span style="margin: 0 5px;">| {{ .CreatedAt }} </span>
            <a href="dashboard/delete?id={{ .Id }}" onclick="return alert('yakin mau hapus?')" style="text-decoration: none; margin: 4px 5px;">
                <svg style="color: white;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"> <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" fill="red"></path> <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" fill="red"></path> </svg>
            </a>
            </p>
        {{ end }}
        <div class="close2">
            X
        </div>
    </div>
</div>
    

    <div class="main-puter">
        <h1 class="punchline2" id="resolusi">Resolusi 2024</h1>
            <div class="card">
                <div class="front">
                    <h1>For Him</h1>
                    {{ range .resols }}
                    <p> {{ .Resolco }} <span style="margin: 0 5px;">|</span><a href="dashboard/deleter?id={{ .IdR }}" onclick="return alert('yakin mau hapus?')" style="text-decoration: none; margin: 4px 5px;">
                        <svg style="color: white;" xmlns="http://www.w3.org/2000/svg" width="12" height="14" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"> <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" fill="red"></path> <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" fill="red"></path> </svg>
                    </a></p>
                     {{ end }}

                </div>
                <div class="back">
                    <h1>For Her</h1>
                    {{ range .resols}}
                    <p> {{ .Resolce}} <span style="margin: 0 5px;">|</span><a href="dashboard/deleter?id={{ .IdR }}" onclick="return alert('yakin mau hapus?')" style="text-decoration: none; margin: 4px 5px;">
                        <svg style="color: white;" xmlns="http://www.w3.org/2000/svg" width="12" height="14" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"> <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" fill="red"></path> <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" fill="red"></path> </svg>
                    </a></p>
                    {{ end }}
                </div>
            </div>
            <div class="resol-form">
                <form method="POST">
                    <label for="resol1" class="plus-resol1">
                        +
                    </label>
                    <input name="resol1" placeholder="For Man" type="text" id="resol1" class="hidden-resol1">
                    <hr>
                    <label for="resol2" class="plus-resol2">
                        + 
                    </label>
                    <input name="resol2" placeholder="For Woman" type="text" id="resol2" class="hidden-resol2">
                    <button type="submit" value="submit">Submit</button>
                </form>
            </div>
        </div>


    <div class="catatan">
        <h1>soon</h1>
    </div>




<!-- VERSI GO -->
<script src="static/dashboard/script.js"></script> 

<!-- native -->
<!-- <script src="../../assets/dashboard/script.js"></script>  -->
</body>
</html>