<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- VERSI GO -->
    <link rel="stylesheet" href="static/style.css">

    <!-- VERSI CSS -->
    <!-- <link rel="stylesheet" href="../assets/style.css"> -->
</head>
<body>
    <div class="container">
        <div class="login-card">
            <div class="username">
                <form method="POST" >
                    <label for="username">Username</label>
                    <input type="text" id="username" required placeholder="tulis disini longor" name="username">
            </div>
            <div class="password">  
                    <label for="password">Password</label>
                    <input type="password" required id="password" placeholder="ini juga di isi kocak" name="password">
            </div>
            <div class="kirim">
                <button type="submit" hidden value="submit"></button>
            </div>
             </form>
        </div>
    </div>

    <p>belum ada akun ? Daftar <a href="/register">Disini</a></p>
   

</body>
</html>